* {
    margin: 0;
    padding: 0;
  }
  .para {
    padding-left: 15px;
    text-align: center;
    font-weight: bolder;
    color: azure;
  }
  
  /* Glitch effect */
  
  #container1 {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(./images/bg11.png);
    background-size: cover;
    background-attachment: fixed;
  }
  
  .box1 {
    position: absolute;
    background: url(./images/bg11.png);
    background-size: cover;
    background-attachment: fixed;
  }
  